node_modules/
dist/
yarn-error.log
.vscode
.DS_Store
python_env/
*.py[cod]
__pycache__
media/
.env
staticfiles/

example/manual-testing/data/*
!example/manual-testing/data/index.html
!example/manual-testing/data/animations/
!example/manual-testing/data/images/
!example/manual-testing/data/videos/
